.auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    margin-top: 60px;
    font-family: 'Paytone One';
  }

  &-form {
    text-align: right;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 300px;

    &-input {
      font-weight: 600;
      color: white;
      display: block;
      height: 35px;
      border: none;
      padding: 20px;
      width: 100%;
      background-color: rgb(56, 56, 56);
      box-shadow: rgba(0, 0, 0, 0.147) 0px 5px 15px;
      border-radius: 20px;
    }
    &-submit {
      margin-top: 30px;
    }
    &-move {
      margin-top: 10px;
      color: rgb(104, 104, 104);
      font-weight: 600;
      cursor: pointer;
    }
  }
  &-password {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
    
    width: 300px;
  }
}
.password-show {
  position: absolute;
  cursor: pointer;
  padding-right: 20px;
}

.check-word {
  text-align: left;
  font-size: 10pt;
  margin-top: 5px;

  #info {
    &-green {
      color: rgb(54, 171, 107);
    }
    &-red {
      color: rgb(197, 60, 80);
    }
    &-gray {
      color: gray;
    }
  }
}