.mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  &-username {
    font-family: 'Paytone One';
    font-size: 60pt;
  }

  &-analysis {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  &-rating {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}