#movie-search {
  position: relative;

  & div {
    color: gray;
    margin-top: 20px;
    text-align: center;
  }

  // 검색결과 박스
  &-result {
    height: 70vh;
    margin-top: 50px;
    padding: 20px;
    background-color: #12121263;
    border-radius: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.147) 0px 5px 15px;
    transition: all 0.3s ease-out;
    -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    // 검색결과에 스크롤바 넣고, 스크롤 슬라이더는 숨기기
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }

    // 검색결과에 출력되는 카드
    &-card {
      width: 100%;
      padding: 10px;

      &-box {
        cursor: pointer;
        width: 100%;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.147) 0px 5px 15px;
        transition: all 0.2s ease-out;
        overflow: hidden;

        &:hover { // 마우스오버시 크기 키우기
          transform: scale(1.05);
        }
      }

      &-img {
        width: 100%;
        object-fit: cover;
      }
      
      &-title {
        font-family: 'NanumSquareNeo-Variable';
        margin-top: 10px;
        margin-bottom: 30px;
        word-break: keep-all;
        font-weight: 400;
        font-size: 12pt;
      }
    }
  }

  // 특정 영화 선택시 출력
  &-select {
    height: 70vh;
    margin-top: 50px;
    padding: 20px;
    background-color: #12121263;
    border-radius: 20px;
    margin: 25px;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.147) 0px 5px 15px;
    transition: all 0.2s ease-out;
    -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    text-align: right;
    background-position: center;

    // 닫기버튼
    & img {
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover { // 마우스오버시 크기 키우기
        transform: scale(1.1);
      }
    }

    // 검색결과에 스크롤바 넣고, 스크롤 슬라이더는 숨기기
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }

    &-description {
      text-align: left;
      padding: calc(15px + (1vw * 0.5));

    }

    &-title {
      font-family: 'NanumSquareNeo-Variable';
      font-size: calc(15pt + (1vw * 0.8));
      font-weight: 700;
    }
    &-original_title {
      font-size: calc(10px + (1vw * 0.8));
    }

    &-release_date {
      margin-top: 5px;
    }

    &-vote_average {
      margin-top: 5px
    }

    &-overview {
      font-size: calc(14px + (1vw * 0.2));
      margin-top: 10px;
      margin-bottom: 20px;
    }

    & a {
      color: white;
      text-decoration: none;
      padding: 3px 10px 3px 10px;
      margin-right: 10px;
      background-color: #4a4a4a;
      border-radius: 20px;
      text-shadow: 1px 1px 20px black;
      box-shadow: rgba(0, 0, 0, 0.147) 0px 5px 15px;

      &:hover {
        outline: 3px white solid;
        color: white;
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-19 18:40:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}