#recommend-swiper {
  margin-block: 100px;
}
#offer-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'NanumSquareNeo-Variable';
  font-size: 24px;
  word-break: keep-all;
  padding: 30px;

  &-link {
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    word-break: keep-all;
    color: rgb(204, 204, 204);
    background-color: rgb(51, 51, 51);
    width: 200px;
    font-weight: 700;
    border-radius: 20px;

    &:hover {
      color: white;
      transition: all 0.2s;
      transform: scale(1.05);
    }
  }
}
#offer-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'NanumSquareNeo-Variable';
  font-size: 24px;
  word-break: keep-all;
  padding: 30px;

  &-link {
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    word-break: keep-all;
    color: rgb(204, 204, 204);
    background-color: rgb(51, 51, 51);
    width: 250px;
    font-weight: 700;
    border-radius: 20px;

    &:hover {
      color: white;
      transition: all 0.2s;
      transform: scale(1.05);
    }
  }
}