#card {
  width: 100%;
  padding: 10px;

  &-box {
    width: 100%;
    transition: all 0.2s ease-out;
    overflow: hidden;
  }

  &-img {
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    object-fit: cover;
  }
  
  &-title {
    font-family: 'NanumSquareNeo-Variable';
    margin-top: 10px;
    margin-bottom: 30px;
    word-break: keep-all;
    font-weight: 400;
    font-size: 12pt;
  }
}