#movie-swiper { // swiper
    overflow: hidden;

  &-title {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    &-box {
      width: 900px;
      font-family: NanumSquareNeo-Variable;
      
  
      &--item {
        display: inline-block;
        text-align: left;
        max-width: 900px;
        font-size: 24px;
        font-weight: 700;
        padding-inline: 30px;
        margin: 0px;
        word-break: keep-all;
      }
    }
  }

  &-row {
      height: 220px;
      min-width: 1100px;
      background-color: #222222;
      
      .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }

  #movie-card { // 각 카드별 설정
    cursor: pointer;
    width: 90%;
    height: 85%;
    position: relative;
    border-radius: 15px;
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.147) 0px 5px 15px;

  
    &:hover { // 마우스오버시 크기 키우기
      transform: scale(1.05);
    }
  
    &--title {
      font-family: NanumSquareNeo-Variable;
      width: 80%;
      color: white;
      font-size: 20px;
      font-weight: 500;
      position: absolute;
      top: 75%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: all 0.2s ease-out;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 1)
    }
    &--thumbnail {
        width:100%;
        object-fit:cover;
        border-radius: 20px;
    }
  }
}

#gradient {

  &-left {
  z-index: 99;
  position: absolute;
  left: 0px;
  width: 10vw;
  height: 300px;
  background: linear-gradient(to right, #222222e1, rgba(255, 255, 255, 0))
  }
  &-right {
  z-index: 99;
  position: absolute;
  right: 0px;
  width: 10vw;
  height: 300px;
  background: linear-gradient(to left, #222222e1, rgba(255, 255, 255, 0))
  }
}