#movie-detail-page {
  display: flex;
  justify-content: center;
}

#movie-detail {
  padding: 20px;
  width: 100%;
  max-width: 900px;
}
.movie {

  &-provider {
    text-align: center;

    &-title {
      display: block;
      margin-bottom: 15px;
    }

    &-logo {
      display: inline-block;
      font-size: 18pt;
      font-weight: 600;
      margin-bottom: 60px;
      margin-inline: 20px;


      &-img {
        margin-right: 10px;
        height: 60px;
        border-radius: 20px;
      }
    }
  }

  // 슬로건
  &-release-tagline {
    word-break:keep-all;
    text-align: center;
    font-family: NanumSquareNeo-Variable;
    font-size: 20pt;
    font-weight: 700;
  }
  // 줄거리
  &-release-overview {
    word-break:keep-all;
    font-size: 12pt;
    font-weight: 400;
    line-height: 24pt;
  }
}

#detail-video-swiper {
  margin-top: 80px;
}
#detail-profile-swiper {
  margin-block: 20px;
}


// 배경이미지
#backdrop {
  position :absolute;
  top: 0px;
  width: 100%;
  height: 500px;
  z-index: -99;
	-webkit-animation: fade-in-fwd 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  &-cover {
    position :absolute;
    width: 100%;
    height: 500px;
    background: linear-gradient(to bottom, #222222ba, #19191958, #222222);
  }

  &-img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: 50% 30%;

    }
}

#movie-detail-modal {
  z-index: 50;
}




/* ----------------------------------------------
 * Generated by Animista on 2022-11-18 2:52:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
