@import url(
  'https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Paytone+One&display=swap'
  );
  /* font-family: 'Noto Sans KR', sans-serif;
     font-family: 'Paytone One', sans-serif; */

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Sans KR' !important;
  color: white !important;
  background-color: #222222 !important;

  // 드래그 방지
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

nav {
  font-family: 'Paytone One';
  text-align: center;
  text-decoration: none;
  margin: 20px;
}

#navbarNav { // nav 좌우 아이템 사이 나누기
  justify-content: space-between;
}

#logo { // 로고
  font-size: 20pt;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 40px;
  transition: all 0.2s ease-out;

  &:hover {
    transition: all 0.2s;
    transform: scale(1.05);
  }

  &:active {
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
  }
}

#logo-img { // 로고 이미지 크기 설정
  height: 30px;
  padding-top: 3px;
  margin-right: 7px;
}

.container-fluid { // nav 최대 폭 설정
  max-width: 960px;
}

.nav-item { // nav 내부 속성
  display: flex;
  justify-content: center;

  a {
    padding: 0px;
    color: white;
    position: absolute;
    border-radius: 20px;
    text-decoration: none;

    &:hover {
      color: gray;
      transition: all 0.2s;
      transform: scale(1.05);
    }
  
    &.router-link-active {
      color: #222222;
      height: 24px;
      width: 80px;
      background-color: white;
      border-radius: 20px;
    }
    &.router-link-active:hover {
      color: white;
      background-color: #222222;
      outline: 2px white solid;
    }
  }
  
  .nav-item--select {
    height: 24px;
    width: 90px;
    display: flex;
    justify-content: center;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-15 22:35:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
