#rating {

  display: flex;
  flex-direction: column;
  align-items: center;

  &-container {
    font-family: 'NanumSquareNeo-Variable';
    width: 90%;
    max-width: 900px;
    text-align: center;
    font-size: 20pt;
    font-weight: 500;
    margin-block: 50px;
  }
}

#exit {
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  font-size: 17pt;
  word-break: keep-all;
  background-color: rgba(56, 56, 56, 0.596);
  backdrop-filter: blur(5px);
  width: 250px;
  font-weight: 500;
  border-radius: 20px;

  &:hover {
    color: white;
    transition: all 0.2s;
    transform: scale(1.05);
  }
}